@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
:root {
  --primary-color: #374151;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  background-color: var(--primary-color);
  text-align: center;
  height: 20vh;
  color: white;
}
a {
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.nav-heading {
  font-size: xx-large;
  font-weight: 600;
  padding: 1rem;
}

label {
  display: block;
  padding: 0.5rem;
  font-weight: 800;
  font-size: larger;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
button {
  display: block;
  margin: auto;
  padding: 0.5rem;
  color: white;
  background-color: var(--primary-color);
  font-weight: 600;
  font-size: larger;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.content {
  text-align: center;
  color: var(--primary-color);
}
#output {
  padding: 1rem;
  font-weight: 900;
  font-size: x-large;
}

.footer {
  background-color: var(--primary-color);
  padding: 2rem 2rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  font-size: larger;
}
.footer .link {
  color: white;
}
.footer .footer-header {
  font-weight: bold;
  font-size: large;
}
.footer ul {
  padding-inline-start: 0px;
}
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 1rem;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
